body {
  font-family: 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td {
  height: 1px;
}
a {
  cursor: pointer;
}
/*nav*/

.sidebar {
  width: 170px;
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.sidebar:before {
  z-index: 0;
}
.nav-list>li>a {
  padding-left: 10px;
}
.nav-list>li>.submenu:before {
  left: 10px;
}
.nav-list>li>.submenu>li:before {
  left: 12px;
}
.nav-list>li .submenu>li>a {
  padding-left: 22px;
}
.nav-list>li>.submenu>li:before {
  left: 10px;
}
.nav-list>li .submenu>li a>.menu-icon {
  left: 1px;
}
.nav-list>li:before {
  height: auto;
}
.nav-list>li>a{
  height: auto;
}
.menu-code {
  color: #AAA;
  font-size: 12px;
  word-break: break-all;
}
.sidebar+.main-content {
  margin-left: 170px;
}
.breadcrumbs {
  padding: 0 15px;
  display: -webkit-box;
}
.breadcrumbs-content{
  -webkit-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn{
  margin-right: 6px !important;
}
table {
  margin-top: 10px;
}
th {
  text-align: center;
}
td {
  height: 1px;
}
.btn-import {
  border-width: 3px !important;
}
.btn.btn-link {
  padding: 0 4px !important;
}




.category-table tr td:first-child {
  width: 20px;
  color: #2a8bcb;
  font-size: 18px;
  text-align: right;
  border: 0;
}
.category-item {
  background: #fafafa;
}
.category-item td:first-child {
  border: 1px solid #ddd !important;
}
.category-remove {
  color: #d3413b;
  font-size: 18px;
  padding: 0 5px;
}
.category-add {
  color: #85b558;
  font-size: 18px;
  padding: 0 5px;
}
.table-cell-editable {
  width: 100%;
  height: 100%;
}
.table-cell-editable:hover:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #2a8bcb;
  content: "\f040";
  float: right;
}
.category-closed:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #2a8bcb;
  font-size: 18px;
  content: "\f0fe";
}
.category-open:before {
  font: normal normal normal 14px/1 FontAwesome;
  color: #2a8bcb;
  font-size: 18px;
  content: "\f146";
}
textarea {
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  -webkit-appearance: none !important;
  outline: 0 !important;
}
.category-additem td {
  border: 1px solid #ddd !important;
  text-align: left !important;
  background: #fafafa;
}
.tags {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: auto;
}
.tags .tag {
  padding-right: 9px;
}

body {
  font-family: 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td {
  height: 1px;
  word-break: break-all;
  max-width: 300px;
  font-size:13px !important;
}
a {
  cursor: pointer;
}
/*nav*/

.sidebar {
  width: 170px;
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.sidebar:before {
  z-index: 0;
}
.menu-icon {
  float: left;
}
.nav-list>li:before {
  height: auto;
}
.nav-list>li>a {
  height: auto;
}
.menu-code {
  color: #AAA;
  font-size: 12px;
  word-break: break-all;
}
.sidebar+.main-content {
  margin-left: 170px;
}
.breadcrumbs {
  padding: 0 15px;
  display: -webkit-box;
  margin-bottom: 10px;
}
.breadcrumbs-content {
  -webkit-box-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  margin-right: 6px !important;
}
th {
  text-align: center;
}
td {
  height: 1px;
}
textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  /*border: 0;*/
  
  -webkit-appearance: none !important;
  outline: 0 !important;
  background: transparent;
  resize: none;
}
.btn-import {
  border-width: 3px !important;
}
.btn.btn-link {
  padding: 0 4px !important;
}
.table-tool {
  float: right;
}
/* plugin notify*/

.notify-wrapper {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1031;
}
.notify {
  color: #fff;
  background: rgba(30, 30, 30, 0.8);
  padding: 10px;
  border-radius: 2px;
  margin: 5px;
}
.notify-header {
  display: -webkit-box;
}
.notify-warning {
  background: rgba(252, 248, 227, 0.9);
  color: #f8991d;
}
.notify-error {
  background: rgba(242, 222, 222, 0.9);
  color: #cf2826;
}
.notify h1,
.notify p {
  margin: 0;
}
.notify h1 {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
}
.notify p {
  font-size: 13px;
  text-align: center;
  word-break: break-all;
}
.notify-error h1:before,
.notify-warning h1:before {
  font-family: FontAwesome;
  margin-right: 5px;
}
.notify-error h1:before {
  content: "\f06a";
}
.notify-warning h1:before {
  content: "\f071";
}
.notify-message .ic-times {
  display: none;
}
.notify-header ~ p {
  text-align: left;
}
.row-pink {
  background: #ebccd1;
}
.snapshot {
  max-width: 100%;
  height: auto;
  background: url(../img/imgph.png) no-repeat;
  min-width: 100%;
  min-height: 50px;
  background-size: 100%;
}
.row {
  margin-bottom: 6px;
}
label {
  width: 70px;
  text-align: right;
}
input[type=text] {
  border-radius: 6px !important;
  width: 224px;
  height: 30px;
  line-height: 30px;
  padding: 0 4px;
}
.reg-level {
  width: 224px;
}
.reg-module,
.reg-acl {
  width: 110px;
}
.reg-add {
  height: 30px;
  line-height: 30px;
}
.reg-submit {
  border-radius: 6px;
  background: #62a8d1;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
}
.reg-submit:hover {
  background: #307ecc;
}
.fa-times-circle,
.fa-plus-circle {
  font-size: 18px;
}
.radio {
  display: inline-block;
  padding-left: 16px;
}
.lbl{
  font-size: 13px;
}
.log-pageid{
  width: 50px !important;
}

